*{
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

.element::-webkit-scrollbar {
  display: none;
}


/* NAVBAR MAIN WRAPPER */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  background-color: #fff;
  border-bottom: 1px solid #f5e7e7;
}

.logo-img {
    width: 120px;
    height: 50px;
    object-fit: contain;
    display: block;
}

/* MIDDLE: SEARCH */
.nav-middle {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-search {
  width: 60%;
  max-width: 450px;
  padding: 8px 14px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.2s ease;
}

.nav-search:focus {
  border-color: #0d6efd;
}

/* RIGHT: ICONS + BUTTON */
.nav-right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.nav-item {
  text-decoration: none;
  font-size: 1.7rem;
  color: #333;
}

.nav-signup {
  text-decoration: none;
  padding: 6px 16px;
  background: #000000;
  border-radius: 20px;
  color: white;
  font-size: 1.2rem;
  transition: 0.2s ease;
}

.nav-signup:hover {
  background: #6490d1;
}



.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(21, 1fr);
    gap: 1%;
    padding: 1%;
    margin-top: 2%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.grid-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

    
.div1 {
    grid-column: span 12 / span 12;
    grid-row: span 3 / span 3;
}

.div2 {
    grid-column: span 8 / span 8;
    grid-row: span 11 / span 11;
    grid-row-start: 4;
}

.div3 {
    grid-column: span 4 / span 4;
    grid-row: span 5 / span 5;
    grid-column-start: 9;
    grid-row-start: 4;
}

.div4 {
    grid-column: span 4 / span 4;
    grid-row: span 6 / span 6;
    grid-column-start: 9;
    grid-row-start: 9;
}

.div5 {
    grid-column: span 4 / span 4;
    grid-row: span 7 / span 7;
    grid-row-start: 15;
}

.div6 {
    grid-column: span 4 / span 4;
    grid-row: span 7 / span 7;
    grid-column-start: 5;
    grid-row-start: 15;
}

.div7 {
    grid-column: span 4 / span 4;
    grid-row: span 7 / span 7;
    grid-column-start: 9;
    grid-row-start: 15;
}


 
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.logo{
  font-size: 2rem;
  margin: 10px;

}
h2{
  margin: 10px;
}

.login-box {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width: 350px;
  text-align: center;
}

.login-box .input-group {
  margin-bottom: 15px;
  text-align: left;
}

.login-box input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.login-box button {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  background-color: #000000;
  color: #fff;
  border: none;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #928e8e;
  color: black;
}